.div1 {
    border: 2px solid black;
    position: relative;
    height: 200px;
    width: 200px;
    margin-top: 100px;
    border-radius: 100px;
    background-color: rgb(255, 0, 0);
    margin:100px auto;
    opacity: 90%;
    mix-blend-mode: screen;
}
/* .innerw {
    left: 0;
    top: 0;
    overflow: hidden;
} */
.div2 {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: rgb(131, 235, 12);
    margin-top: -190px;
    margin-left: 420px;
    mix-blend-mode: screen;
    border: 2px solid black;
}
.div3 {
    border: 2px solid black;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: rgb(0, 0, 255);
    margin-top: -200px;
    margin-left: 280px;
    margin-bottom: 80px;
    mix-blend-mode: screen;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 10px;
}
main {
    border: 2px solid;
    width: 70%;
    margin: 50px auto;
    background-color: black;
    color: white;
    padding-top: 20px;
}